{% extends "base.html" %}

{% block content %}
	<p>Pythonilla kirjoitettu luokka on muunnettu Flaskin (SQLAlchemy) avulla tietokantatauluksi.
	<br>
	<br>
	Tietokantatataulusta on automaagisesti generoitu Flaskin muottimoottorille (Jinja2) lomakekentät Flaskin (FlaskForm) toimesta, jotka näytetään alla
	</p>

	<form method=POST>

        {% for item in form %}
	        {% if not item.flags.hidden %}
        	<p>
		{{ item.label }}: {{ item }}
		</p>
        	{% endif %}
        {% endfor %}

	<input type=submit>
	</form>
{% endblock content %}


