{% if not title %}
    {% set title = "Technical analysis tool" %}
{% endif %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- <style type="text/css"></style> -->    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Author" content="Le Gall" />
    <!-- https://stackoverflow.com/questions/49547/how-do-we-control-web-page-caching-across-all-browsers -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    
    <title>{{ title }}</title>
    {%block JSON_LD%}
    {%endblock JSON_LD%}
</head>

<body>

	{%block nav%}
        {% if not currentUser() %}
        <nav>
            <a href="/">Home</a>  &#160;&#160;&#160;&#160;&#160; <a href="/user/login">Login</a> &#160;&#160;&#160;&#160;&#160; <a href="/roadmap">Roadmap</a>
        </nav>
        {% endif %}

        {% if currentUser() %}
        <nav>
            <a href="/">Home</a>  &#160;&#160;&#160;&#160;&#160;  <a href="/user/logout">Logout</a> &#160;&#160;&#160;&#160;&#160; <a href="/roadmap">Roadmap</a>
        </nav>
        {% endif %}
	{%endblock nav%}

    <h1>{{ title }}</h1>
        {% for message in get_flashed_messages()%}
        <font color="tomato"><b>{{ message }}</b></font>
        <br />
        {% endfor%}

	{%block content%}
	{%endblock content%}

    {%block time_series%}
    {%endblock time_series%}

    {%block volatilite%}
    {%endblock volatilite%}
 
    {%block footer%}
    <br>
    <a href="https://terokarvinen.com/2021/python-web-service-from-idea-to-production/" target="_blank">DIY: Python Web Service From Idea to Production (terokarvinen.com)</a>
    {%endblock footer%}
</body>

{%block script%}
<!-- <script type='text/javascript' id="first"></script> -->
{%endblock script%}

</html>