{% if not title %}
{% set title = "Automated technical financial analysis" %}
{% endif %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- <style type="text/css"></style> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Le Gall" />
    <title>{{ title }}</title>
    {%block JSON_LD%}
    {%endblock JSON_LD%}
</head>

<body>
	{% block nav %}
        {% if not currentUser() %}
        <nav>
            <a href="/">Home</a> - <a href="/user/login">Log in</a>
        </nav>
        {% endif %}

        {% if currentUser() %}
        <nav>
            <a href="/">Home</a> - <a href="/user/logout">Log out</a>
        </nav>
        {% endif %}
	{% endblock nav%}

    <h1>{{ title }}</h1>
        {% for message in get_flashed_messages()%}
        <font color="tomato"><b>{{ message }}</b></font>
        <br />
        {% endfor%}

	{% block content %}
	{% endblock %}

    {%block time_series%}
    {%endblock time_series%}

    {%block volatilite%}
    {%endblock volatilite%}

</body>

{%block script%}
<!-- <script type='text/javascript' id="first"></script> -->
{%endblock script%}

</html>