{% set title="Login" %}
{% extends "base.html" %}

{% block nav %}
<a href="/">Home</a> &#160;&#160;&#160;&#160;&#160; <a href="/user/register">REGISTER</a>

{% endblock nav %}

{% block content %}
Not a member yet? <a href="/user/register">Register first HERE</a>
<br>
<br>
<form method=post>
	{% for field in form %}
	{% if not field.flags.hidden %}
	{{ field.label }}
	{% endif %}

	{{ field }}

	{% for err in field.errors %}
	<b>{{ err }}</b>
	{% endfor %}

	<br>
	{% endfor %}
	<input type="submit" value="Submit">
</form>
{% endblock content %}

{%block footer%}
{%endblock footer%}