{% extends "base.html" %}

{%block JSON_LD%}
{%endblock JSON_LD%}

{% set title = "Roadmap" %}

{%block nav%}
	{% if not currentUser() %}
	<nav>
		<a href="/">Home</a>  &#160;&#160;&#160;&#160;&#160; <a href="/user/login">Login</a> &#160;&#160;&#160;&#160;&#160; <a href="/user/register">REGISTER</a>
	</nav>
	{% endif %}

	{% if currentUser() %}
	<nav>
		<a href="/">Home</a>  &#160;&#160;&#160;&#160;&#160; <a href="/user/profile">My profile</a>  &#160;&#160;&#160;&#160;&#160;  <a href="/user/logout">Logout</a>
	</nav>
	{% endif %}
{%endblock nav%}

{%block content%}

	<article>
		<h2>Plan</h2>
		<p>
		2021/Q3 All combinations scheduled to calculate every 30 seconds and diagrams saved so it can be served to clients immediately without latency
		<br>
		<br>
		2021/Q4 Market information from several exchange platforms
		<br>
		<br>
		2022/Q1 Not only close information but also current price
		<br>
		<br>
		2022/Q3 Integration to software which handles transactions to the marketplaces
		</p>
	</article>

{%endblock content%}

{%block footer%}
<br>
<a href="https://terokarvinen.com/2021/python-web-service-from-idea-to-production/" target="_blank">DIY: Python Web Service From Idea to Production (terokarvinen.com)</a>
{%endblock footer%}